.about {
    margin-top: 150px;
    min-height: 1024px;
    &__wrapper {
        display: grid;
        margin: 100px auto 0 auto;
        grid-template-columns: repeat(2, minmax(auto, 526px));
        grid-template-rows: repeat(2, minmax(auto, 400px) );
        grid-auto-rows: minmax(auto, 400px);
        column-gap: 24px;
        row-gap: 100px;
        justify-items: center;
        width: 1076px;
    }
    // &__item {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     &:first-child{
    //         margin-bottom: 100px;
    //     }
    // }
    &__img {
        
        height: 400px;
        img{
            height: 100%;
            border-radius: 11px;
        }
    }
    &__descr {
        margin-right: 84px;
        &:last-child {
            margin: 0;
            margin-left: 84px;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        text-align: left;
    }
    &__text {
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        text-align: left;
    }
}