.button {
    padding: 9px 15px;
    width: 155px;
    height: 36px;
    background: #018ABE;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    &-white {
        margin-top: 30px;
        color: #018ABE;
        background: #FFFFFF;
    }
}