.title {
    position: relative;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #FFFFFF;
    &::after {
        content: "";
        position: absolute;
        width: 28px;
        height: 14px;
        top: 6px;
        right: 433px;
        background: url('../icons/right-arrow-b.svg') no-repeat;;
    }
    &::before {
        content: "";
        position: absolute;
        width: 28px;
        height: 14px;
        top: 6px;
        left: 433px;
        background: url('../icons/left-arrow-b.svg') no-repeat;;
    }

}
.title.promo__subtitle {
    &::after {
       background: url('../icons/right-arrow-w.svg') no-repeat;;
    }
    &::before {
        background: url('../icons/left-arrow-w.svg') no-repeat;;
    }
}